---
layout: noheader
format: homepage
---

<div class="darkbg">
<div class="grid-container">
<h4 class="center">The Tuberculosis Specimen: The Dying Body and its Use in the War Against "The Great White Plague"</h4>
</div>
</div>

<div class="grid-container">
<div class="grid-x grid-padding-x align-middle">
<div class="cell medium-8 align-right small-order-2 medium-order-1 large-order-1 align-middle" markdown="1" >

<h6><p>Welcome to <i>The Tuberculosis Specimen</i>.<br>
<br>
This is a web-based dissertation made to fulfill the degree requirements at Indiana University's Media School. It has been made publicly available so to be easier to access for both scholars and the public.<br>
<br>
This dissertation is filled with images and case studies from the history of medicine. I have tried to think of ways to treat the human subjects who were ingested into medical knowledge practices with respect and care. However, due to the broad nature of this research project, and the fact that the research was made by a small team, I have been unable to properly trace the history of most of these exploitative images and consult the communities most affected by medical science's historical malfeasance.<br>
<br>
With a desire for accountaibility, I will share my contact information below. If there are materials which communities or individuals find have been mishandled by myself or my team, I will happily address them, replace them, or remove them from the project on a case-by-case basis.<br>
  <br>
Given the dissertation's subject matter, please be aware of the various potential triggers in the site:<br>
<ul>
  <li>- Display of human remains </li>
  <li>- Display of human patients in medical research contexts</li>
  <li>- Display of animal remains</li>
  <li>- Nudity, especially in medical research contexts</li>
</ul><br><br>
Finally, I want to speak to an editorial choice in this project regarding photographs of children in research contexts. I have chosen to omit those images from both the dissertation and any photographic databases contained. There is reference to these images in the main dataset flagged with both "Child" and "Sensitive" markers.
<br><br>
Thank you so much for taking your time to visit this dissertation. Please feel free to contact me if you have questions or concerns at spurcel at iu dot edu .<br><br>

Go to the <a href="https://tuberculosisspecimen.github.io/diss/blog">dissertation</a>.</p>
            </h6>
</div>
</div>
</div>
</div>
